<style>
    div.run { 
        border: 0.5px solid #008C96; 
        padding: 10px; 
        background-color: #b2dcdf; 
        color:#006269; 
        margin-top: 12px; 
        font-weight: bold
    }
    div.example { 
        border: 0.5px solid #008C96; 
        padding: 10px; 
        background-color: #b2dcdf; 
        color:#006269; 
        margin-top: 12px;
        font-weight: bold
    }
    div.practice { 
        border: 0.5px solid #008C96;  
        padding: 10px;  
        background-color: #b2dcdf;  
        color:#006269; 
        margin-top: 12px;
        font-weight: bold
    }
    div.python { 
        border: 0.5px solid #408000; 
        padding: 10px; 
        background-color: #cddfb4; 
        color:#2c5900; 
        margin-top: 12px
    }
    div.data { 
        border: 0.5px solid #443823; 
        padding: 10px; 
        background-color: #ead8b9; 
        color:#443823; 
        margin-top: 12px
    }
    div.codeblock { 
        border: 0.2px solid #808080;
        padding: 10px; 
        background-color: #DBDBDB; 
        margin-top: 2px
    }   
    div.boxhead1 { 
        border-radius: 4px 4px 0px 0px; 
        padding: 6px; 
        border: 0.5px solid #008C96; 
        background-color: #b2dcdf; 
        color:#006269; 
        margin-top: 12px; 
        font-size: 115%; 
        font-weight: bold
    }
    div.boxtext1 { 
        border-radius: 0px 0px 4px 4px; 
        border: 0.5px solid #008C96; 
        padding: 12pt; 
        color:#006269 
    }
    div.boxhead2 {
        border-radius: 4px 4px 0px 0px; 
        padding: 6px; 
        border: 0.5px solid #73AD21; 
        background-color: #c7dea6; 
        color:#486d15; 
        margin-top: 12px; 
        font-size: 115%; 
        font-weight: bold
    }
    div.boxtext2 { 
        border-radius: 0px 0px 4px 4px; 
        border: 0.5px solid #73AD21; 
        padding: 12pt; 
        color:#486d15
    }
    div.boxhead3 {
        border-radius: 4px 4px 0px 0px; 
        padding: 6px; 
        border: 0.5px solid #e66800; 
        background-color: #f7d1b2; 
        color:#cd5c00; 
        margin-top: 12px; 
        font-size: 115%; 
        font-weight: bold
    }
    div.boxtext3 { 
        border-radius: 0px 0px 4px 4px; 
        border: 0.5px solid #e66800; 
        padding: 12pt; 
        color:#cd5c00
    }
    span.code {
        font-family: Lucida Console, Courier, monospace;
        font-weight: normal;
    }
    span.codeb {
        font-family: Lucida Console, Courier, monospace;
        font-weight: bold;
    }
    ol.num {
        margin: 0pt;
        margin-top: 12pt; 
        margin-bottom: 2pt; 
        margin-left: 4pt; 
        padding-bottom: 4pt; 
    }
    ol.alpha {
        list-style-type: lower-alpha;
        margin: 0pt;
        margin-left: 4pt;
        margin-top: 2pt;
        font-weight: bold
    }
    ul.a {
        list-style-type: none; 
        margin-left: -20pt;
        font-weight: bold;
    }

    ul.b {
        list-style-type: square; 
        font-weight: normal; 
        margin-left: 20pt; 
        margin-top: 4pt; 
        padding-bottom: 12pt;
    }
</style>